@import './base/normalize';
@import './utils/variables';
@import './componets/common/common';
// @import './componets/common/common'


// /* Лого */

.logo, .logo__part{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo{
    color: getColor('accent');
}

/* Site nav */

.header{
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
}

.header__flex{
    @include flex;
    padding-top: 24px;
    padding-bottom: 25px;
}


.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav__item + .site-nav__item { 
    display: flex;
    margin-left: 50px;
}


.site-nav__link{
    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.site-nav__link--current{
    color: getColor('accent');
}

.site-nav__current{
    position: relative;
}

.site-nav__link--current::after{
    position: absolute;
    bottom: -34px;
    left: 50%;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColor('accent');
    transform: translate(-50%);
    /* margin-top: 28px; */
}


.contacts-nav__icon{ 
    margin-right: 10px;
    fill: get-color('text');
    transition: fill $t-duration $t-t-function;
}

.contacts-nav{
    display: flex;
    margin-left: 305px;
}

.contacts-nav__item:not(:last-child){
    margin-right: 30px;
}



.contacts-nav__link:hover,
.contacts-nav__link:focus{
    & .contacts-nav__icon{
         fill: getColor('accent');
    }
    
}

.contacts-nav__link{
    @include flex();
    color: getColor('text');
    letter-spacing: 0.02em;
    font-weight: 500;
}


/* ::before and ::after тренування */

/* .contacts-nav .item::before{
    display:inline-block;
    content: "";
    margin-right: 10px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-nav .letter-icon::before{
    width: 16px;
    height: 12px;
    background-image: url(../images/envelope\ \(1\).svg);
}

.contacts-nav .tel-icon::before{
    width: 10px;
    height: 16px;
    background-image: url(../images/phone-icon\ \(1\).svg);
}

.features .item{
    display: flex;
    flex-wrap: wrap;
}

.features .title::before{
    content: "";
    margin-bottom: 30px;
    display:inline-flex;
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.icon-antenna::before{
    background-image: url(../images/antenna\ 1\ \(1\).svg);
    /* background-size: 65px 70px; уже відповідає */

/* .icon-clock::before{
    background-image: url(../images/clock\ 1\ \(1\).svg);
    /* width: 67px;
    height: 70px; */

/* .icon-diagram::before{
    background-image: url(../images/diagram\ 1\ \(1\).svg);
}

.icon-astronaut::before{
    background-image: url(../images/astronaut\ 1\ \(1\).svg);
}

.employee__box::after{
    content: "";
    display: inline-flex;
    width: 200px;
    height: 44px;
    background-color: #ffffff;
    background-image: url(../images/SL-All.svg);
    background-position: center;
    margin-left: 32px;
} */



/* Герой */

.hero{
    background-color: #2F303A;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
} 
    
.hero__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: getColor('background');
    margin-bottom: 30px;
    padding-left: 237px;
    padding-right: 237px;
}

.hero__button{
    padding: 10px 32px;
}



/* Особливості */

.peculiarities{
     @include flex();
    margin-bottom: 94px;

}

.peculiarities__item{
    width: 270px;
}

.feature__box{
    @include flex(center);
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.feature__title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text{
    line-height: 1.71;
    color: getColor('text');
}

/* Чем мы занимаемся */


.works__list{
    @include flex();
}

.works__thumb{
    position: relative;
}

.works__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}

/* Наша команда */

.team{
    background-color: #F5F4FA;
}

.team__list{
    @include flex();
}

.employee{
    width: 270px;
    height: 428px;
    background-color: getColor('background');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.employee__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.employee__position{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: getColor('text');
    margin-bottom: 10px;
}

.employee__social-media{
    @include flex();
    padding-left: 32px;
    padding-right: 32px;
}

// .employee__link,
// .join .link{
//     @include flex(center);
//     width: 44px;
//     height: 44px;
//     border-radius: 50%;
// }

.employee__link, .join__link{
    @include flex(center);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    &:hover{
        & .employee__link-icon{
            fill: getColor('background');
        }
        background-color: getColor('accent');
        }
    &:focus{
        & .employee__link-icon{
            fill: getColor('background');
        }
        background-color: getColor('accent');
        }
    }

.employee__link-icon{
    fill: #AFB1B8;
}


/* Постійні клієнти */

.clients{
    @include flex();
}

.clients__link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    @include flex(center);
    transition: border-color $t-duration $t-t-function;
    &:hover{
         border: 1px solid getColor('accent');
         & .clients__link-icon{
            fill: getColor('accent');
         }
    }
    &:focus{
         border: 1px solid getColor('accent');
    }
}

.clients__link-icon{
    fill: #AFB1B8;
    transition: fill $t-duration $t-t-function;
}


/* Footer */

.footer{
    /* max-width: 1600px; */
    background-color:#2F303A;
    margin-left: auto;
    margin-right: auto;
}

.footer__container{
    display: flex;  
}

.footer__box{
    padding-top: 60px;
}


.footer__logo-part{
    color: getColor('background');
}

.address{
    margin-top: 20px;
}

.address__city{
    color: getColor('background');
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
}

.address__link{
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    width: max-content;
}

.address__link:not(:last-child){
    margin-bottom: 9px;
}

.join{
    margin-left: 75px;
    padding-top: 72px;
}

.join__title, .spam-form__label{ 
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.join__title{
    margin-bottom: 20px;
}

.join__list{
    display: flex;
}

.join__link{
    background-color: rgba(255, 255, 255, 0.1);
}


.join__link-icon{
    fill: #ffffff;
}

.join__item:not(:last-child){
    margin-right: 10px;
}


.spam-form{
    padding-top: 72px;
    padding-bottom: 94px;
    margin-left: 93px;
    display: flex;
}

// .spam-form__label{
//     display: block;
// }



.spam-form__input{
    display: block;
    margin-top: 20px;
    width: 358px;
    padding: 15px 16px 15px 16px;
    border-style: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A !important;
    outline: none;
}

.spam-form__input:focus{
    color: var(--background-color);
}

.spam-form__input::placeholder{
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);  
}

.spam-form__button{
    position: relative;
    padding: 10px 62px 10px 29px;
    margin-left: 12px;
     align-self:flex-end;
}


.spam-form__icon-send{
    position: absolute;
    margin-left: 10px;
    top: center;
    transform: translateY(-50%);
   
    
}


/* Кнопки */




/* Бакдроп */

.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: $t-t-function;
    transition-delay: 50ms;
}  

.is-hidden{
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 500ms, 1ms;
    transition-timing-function: $t-t-function, linear;
    transition-delay: 50ms, 430ms;

    
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__close-button{
    @include flex(center);
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; 
    transition: fill $t-duration $t-t-function;
}


/* Розмітка форми Передзвону */



.modal__title{
    display: block;
    padding-top: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 30px;
}

.form{
    padding-left: 41px;
    padding-right: 39px;
}

.form__label:not(:last-child){
    position: relative;
    display: block;
    margin-bottom: 28px;
}

.form__label:nth-child(3){
    margin-bottom: 10px;
}

.form__label:nth-child(4){
    margin-bottom: 20px;
}


.form__input{
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 13px 11px 42px;
    transition: border-color $t-duration $t-t-function;
}

.form__text{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-left: 42px;
    color: #757575;
    outline: none;
    transform: translateY(-50%);
    transition: transform $t-duration $t-t-function;
}

.form__textarea{
    resize: none;
    width: 100%;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    outline: none;
    transition: border-color $t-duration $t-t-function;
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus{
    border-color: getColor('accent');
    outline: none;
}

/* Чому не робе при фокусі? */

.form__label:hover .form__icon,
.form__label:focus .form__icon{
    fill: getColor('accent');
}


.form__input:not(:placeholder-shown)~.form__text,
.form__label:hover .form__text{
    transform: translateY(-40px);
}

.form__icon{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 15px;
}

.form__comment-text{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: getColor('text');
    margin-bottom: 4px;
}

.form__mail-consent{
    @include flex(center);
}

.form__consent-text{
    line-height: 1.71;
    color: getColor('text');
    margin-left: 10px;
}

.form__link{
    color: getColor('accent');
}

.form__checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.form__checkbox:checked~.form__icon-rectangle{
    display: none;
}

.form__icon-check{
    display: none;
    pointer-events: none;
}

.form__checkbox:checked~.form__icon-check{
    display: block;
}

.modal__send-button{
    display: block;
    padding: 10px 55px 10px 56px;
    margin: auto;
    margin-top: 30px;
}


/* ПОРТФОЛІО */

.portfolio-nav{
    display: flex;
    justify-content: center;

}

.portfolio-nav__item:not(:last-child){
    margin-right: 5px;
}

.portfolio-nav__button, .portfolio-nav__first-button{
    min-width: 128px;
    height: 38px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63px;
    color: getColor("title");
    background: #F5F4FA;
    border: none;
    cursor: pointer;
    transition: background-color $t-duration $t-t-function, 
    color $t-duration $t-t-function, 
    box-shadow $t-duration $t-t-function;
}

.portfolio-nav__first-button{
    min-width: 73px;
}

.portfolio-nav__button:hover, 
.portfolio-nav__first-button:hover,
.portfolio-nav__button:focus,
.portfolio-nav__first-button:focus{
    background-color: getColor('accent');
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px
     rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 20px;
}

.portfolio__photo-card{
    width: 370px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portfolio__examples{
    transition: box-shadow $t-duration
    $t-t-function;
}

.portfolio__examples:hover,
.portfolio__examples:focus
{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio__thumb{
    position: relative;
    width: max-content;
    overflow: hidden;
}

.portfolio__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform $t-duration
    $t-t-function;
}

.portfolio__examples:hover .portfolio__overlay,
.portfolio__examples:focus .portfolio__overlay{
    transform: translateY(0);
    transition: transform $t-duration
    $t-t-function;
}

.portfolio__overlay-text{
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    padding: 63px 24px;

}
    

.portfolio__title{
    color: getColor('title-text');
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__title-text{
    font-size: 16px;
    line-height: 1.88;
    color: getColor('text');
    margin-top: 4px;
}

.portfolio__item{
    margin-top: 30px;
    margin-left: 30px;  
}


.modal__close-button:hover,
.modal__close-button:focus{
    fill: getColor('accent');
}



// .diablo{
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .diablo .button{
//     object-position: center;
//     text-decoration: none;
//     padding: 0;
// }




/* animation-name
animation-duration
animation-timing-function
animation-delay
animation-iteration-count
animation-direction
animation-fill-mode
animation-play-state */
/* 
Тренування */
/* input {
    padding: 8px;
    font-family: inherit;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  } */


  /* Клас для приховування обєкту */

                        /* {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
                        } */